/* ---------- Wrapper ---------- */
.gantt-wrapper {
  width: 100%;
  margin-top: 20px;
  background-color:#ffffff;

}

/* ---------- Scroll container ---------- */
.gantt-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

}

/* ---------- Header ---------- */
.gantt-header {
  display: grid;
  grid-template-columns: 180px repeat(52, 1fr);
  height: 36px;
  border-bottom: 1px solid #ddd;
  background: #f5f5f5;
}

.gantt-task-col {
  padding-left: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.gantt-week {
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #a5a5a5;
  border-top: 1px solid #a5a5a5;
  border-right: 1px solid #a5a5a5;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- Rows ---------- */
.gantt-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  height: 36px;
  border-bottom: 1px solid #eee;
}

.gantt-task-name {
  padding-left: 8px;
  display: flex;
  align-items: center;
  font-size: 13px;

}

/* ---------- Grid ---------- */
.gantt-grid {
  display: grid;
  grid-template-columns: repeat(52, 1fr);
  position: relative;
}

/* ---------- Bar ---------- */
.gantt-bar {
  height: 18px;
  background: #4caf50;
  border-radius: 4px;
  margin-top: 9px;
}

/* ---------- Force overflow under 1100px ---------- */
@media (max-width: 1100px) {
  .gantt-header,
  .gantt-row {
    min-width: 1400px;
  }
}
